﻿<div class="container mt-3">
	<h1 class="text-center">Thông tin sách</h1>
	<form id="studentForm">
		<div class="row">
			<!-- Tên -->
			<div class="col-md-6">
				<div class="form-group">
					<label for="student_code" class="form-label">Tên sách</label>
					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   id="bookName"
						   placeholder="Eg. Conan" />
					<div id="form-message" class="message-error"></div>
				</div>
			</div>
			<!-- Giá -->
			<div class="col-md-6">
				<div class="form-group">
					<label for="fullName" class="form-label">Giá</label>
					<input type="text"
						   autocomplete="off"
						   class="form-control"
						   id="price"
						   placeholder="Eg. 1000" />
					<div id="form-message" class="message-error"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Mô tả -->
			<div class="col-md-12">
				<div class="form-group">
					<label for="fullName" class="form-label">Mô tả</label>
					<textarea class="form-control"
							  id="description"
							  rows="3"
							  placeholder="Eg. Sách quá hay!"></textarea>
					<div id="form-message" class="message-error"></div>
				</div>
			</div>
		</div>
		<!-- Chức năng -->
		<div class="row mt-5 mx-0">
			<div class="col-4 px-0">
				<button type="button" class="btn btn-success" id="btnAdd">
					<i class="fa-solid fa-plus mr-item"></i>Thêm Sản Phẩm
				</button>
				<button class="btn btn-warning text-white" id="btnUpdate">
					<i class="fa-solid fa-pen-to-square mr-item"></i>Cập nhật
				</button>
			</div>
			<div class="col-8 px-0" style="text-align: right">
				<button class="btn btn-danger" style="display: none" id="btnClear">
					<i class="fa-solid fa-trash mr-item"></i>Xoá
				</button>
				<button class="btn btn-info text-white" id="btnReset">
					<i class="fa-solid fa-arrows-rotate mr-item"></i>Reset
				</button>
			</div>
		</div>
	</form>
</div>
<!-- Modal View Detail Book Info-->
<div class="modal fade"
	 id="modalViewDetailInfo"
	 tabindex="-1"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Thông tin chi tiết sách
				</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body table-detail">
				<div class="row">
					<div class="col-12 text-center">
						<div class="avatar-detail">
							<img src="./image/default-thumbnail.jpg"
								 class="avatar"
								 style="border-radius: 50%; object-fit: cover"
								 width="200"
								 height="200"
								 data-atr="avatar" />
						</div>
						<h2 class="mt-2 fullName" data-atr="bookname">Conan</h2>
					</div>
					<div class="container">
						<div class="table-responsive">
							<table class="table">
								<tr>
									<th>Mã sách:</th>
									<th class="txt-title code" data-atr="id">1</th>
								</tr>
								<tr>
									<th>Tên sách:</th>
									<th class="txt-title dateOfBirth" data-atr="bookname">
										Conan
									</th>
								</tr>
								<tr>
									<th>Mô tả:</th>
									<th class="txt-title gender" data-atr="description">
										Sách hay quá!
									</th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Table boostrap -->
<div class="clearfix"></div>
<br />
<div class="container">
	<h2>Danh sách</h2>
	<table id="tblStudent" class="table table-striped table-sm">
		<thead>
			<tr class="bg-secondary text-white">
				<th>ID</th>
				<th>Tên sách</th>
				<th>Giá</th>
				<th>Mô tả</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="productList"></tbody>
	</table>
</div>

<script>

	//xoa san pham
	function deleteProduct(event) {
		const productId = event.target.dataset.id; // Lấy id của sản phẩm từ thuộc tính data-id của nút Delete
		// Gửi yêu cầu HTTP đến API để xóa sản phẩm có id là productId
		fetch(`https://localhost:7012/api/products/${productId}`, {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json'
			},
		})
			.then(response => {
				if (response.ok) {
					// Xóa sản phẩm khỏi giao diện
					const deletedRow = event.target.closest('tr'); // Tìm phần tử cha gần nhất là <tr> chứa nút Delete
					deletedRow.remove(); // Xóa phần tử <tr> khỏi giao diện
				} else {
					// Xử lý lỗi nếu cần
					console.error('Failed to delete product');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

	// them san pham
	function addProduct() {
		// Retrieve information from form inputs
		const name = document.getElementById('bookName').value;
		const price = parseFloat(document.getElementById('price').value);
		const description = document.getElementById('description').value;

		// Create a new product object
		const newProduct = {
			name: name,
			price: price,
			description: description
		};

		// Send the new product object to the API endpoint
		fetch('https://localhost:7012/api/products', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(newProduct),
		})
			.then(response => response.json())
			.then(createdProduct => {
				// Handle the created product information
				console.log(createdProduct);
			})
			.catch(error => console.error('Error:', error));
	}

	document.addEventListener("DOMContentLoaded", function () {
		// Add event listener to the button
		document.getElementById("btnAdd").addEventListener("click", addProduct);
	});


</script>