﻿@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<form id="productForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>

    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById('productForm').addEventListener('submit', function (event) {
        event.preventDefault();

        // Lấy dữ liệu từ form
        const name = document.getElementById('name').value;
        const price = document.getElementById('price').value;
        const description = document.getElementById('description').value;

        // Tạo đối tượng dữ liệu sản phẩm mới
        const newProduct = {
            name: name,
            price: price,
            description: description,
            // Các thông tin khác cần thêm vào đây
        };

        // Gửi yêu cầu tạo sản phẩm mới
        fetch('https://localhost:7012/api/products', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(newProduct),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(createdProduct => {
                // Xử lý thông tin sản phẩm đã tạo
                console.log(createdProduct);
                // Hiển thị thông báo thành công
                alert('Product added successfully!');
            })
            .catch(error => {
                console.error('Error:', error);
                // Hiển thị thông báo lỗi nếu có lỗi xảy ra
                alert('Error adding product. Please try again later.');
            });
    });
</script>

