﻿<h2>Delete Product</h2>

<form id="deleteForm" asp-action="DeleteConfirmed" method="post">
    <p>Are you sure you want to delete?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<script>
    document.getElementById('deleteForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        const productIdToDelete = @ViewBag.Id; // Get the product ID from the model
        fetch(`https://localhost:7012/api/products/${productIdToDelete}`, {
            method: 'DELETE',
        })
            .then(response => {
                if (response.status === 204) {
                    alert("Delete Success")
                    // Optionally, redirect to another page after successful deletion
                    window.location.href = '/Product/Index';
                } else {
                    console.error('Failed to delete product.');
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>
