﻿<h2>Chi tiết sản phẩm</h2>

<div id="product-details">
    <!-- Product details will be displayed here -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch(`https://localhost:7012/api/products/${@ViewBag.Id}`)
            .then(response => response.json())
            .then(product => {
                // Manipulate the DOM to display the product details
                const productDetailsElement = document.getElementById('product-details');
                productDetailsElement.innerHTML = `
                        <h3>${product.name}</h3>
                        <p>Price: ${product.price}</p>
                        <p>Description: ${product.description}</p>
                        <!-- Add more details as needed -->
                    `;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

