﻿@{
    ViewData["Title"] = "Danh Sach San Pham";
}

<h2>Danh sach san pham</h2>

<div class="container">
    <div class="row" id="product-container">
        <!-- Product items will be appended here -->
    </div>
</div>

<!-- Include Bootstrap JS (optional, only needed if you want to use Bootstrap JavaScript components) -->


<script>
    function displayProduct(productId) {
        // Redirect to the display action of the controller with the productId parameter
        window.location.href = `/Product/Display/${productId}`; // Modify the URL as per your controller and action
    }

    function deleteProduct(productId) {
        // Redirect to the display action of the controller with the productId parameter
        window.location.href = `/Product/Delete/${productId}`; // Modify the URL as per your controller and action
    }

    function editProduct(productId) {
        // Redirect to the display action of the controller with the productId parameter
        window.location.href = `/Product/Update/${productId}`; // Modify the URL as per your controller and action
    }

    document.addEventListener("DOMContentLoaded", function () {
        fetch('https://localhost:7012/api/products')
            .then(response => response.json())
            .then(products => {
                displayProducts(products);
            })
            .catch(error => console.error('Error:', error));

        function displayProducts(products) {
            const container = document.getElementById('product-container');
            products.forEach((product, index) => {
                if (index % 3 === 0) {
                    // Start a new row for every three products
                    const row = document.createElement('div');
                    row.classList.add('row');
                    container.appendChild(row);
                }

                const productElement = document.createElement('div');
                productElement.classList.add('col-md-4', 'mb-4'); // Bootstrap grid class with margin bottom
                productElement.innerHTML = `
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">${product.name}</h5>
                                <p class="card-text">Price: ${product.price}</p>
                                <p class="card-text">Description: ${product.description}</p>
                                <button class="btn btn-primary mr-2" onclick="displayProduct(${product.id})">Display</button>
                                <button class="btn btn-danger mr-2" onclick="deleteProduct(${product.id})">Delete</button>
                                <button class="btn btn-success" onclick="editProduct(${product.id})">Edit</button>
                            </div>
                        </div>
                    `;
                container.lastElementChild.appendChild(productElement);
            });
        }
    });
</script>
