﻿<h2>Cap Nhat San Pham</h2>

<form id="productForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>

    <input type="submit" value="Update">
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Fetch product details and fill the form fields
        fetch(`https://localhost:7012/api/products/${@ViewBag.Id}`)
            .then(response => response.json())
            .then(product => {
                document.getElementById('name').value = product.name;
                document.getElementById('price').value = product.price;
                document.getElementById('description').value = product.description;
            })
            .catch(error => console.error('Error:', error));

        // Add event listener to the form submit event
        document.getElementById('productForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            const productIdToUpdate = @ViewBag.Id; // Get the product ID from ViewBag
            const updatedProduct = {
                id: productIdToUpdate,
                name: document.getElementById('name').value,
                price: parseFloat(document.getElementById('price').value),
                description: document.getElementById('description').value,
                // Add other fields as needed
            };

            // Send PUT request to update the product
            fetch(`https://localhost:7012/api/products/${@ViewBag.Id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedProduct),
            })
                .then(response => {
                    if (response.status === 204) {
                        console.log('Product updated successfully.');
                        // Optionally, redirect to another page after successful update
                        window.location.href = '/Product/Index';
                    } else {
                        console.error('Failed to update product.');
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>